body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 166, 0, 0.321);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(192, 136, 52);
  height: 10rem;
  width: 20rem;
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  box-shadow: 2px 1.5px 5px black;
}

.twit {
  display: flex;
  justify-content: space-evenly;
}

.twitData {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: aliceblue;
  height: 5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0.2rem;
}

.username {
  /* background-color: blue; */
  /* text-align: center; */
  font-weight: 500;
  font-family: sans-serif;
  font-size: 1.2rem;
  border-bottom: 1px solid;
}

.content {
  /* background-color: yellow; */
  font-size: 1.1rem;
}

.line {
  border: 1px solid;
  width: 100%;
  color: gray;
}

.profilePicture > img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.twitOptions {
  display: flex;
  justify-content: space-evenly;
}

a, button {
  text-decoration: none;
  border: 2px solid black;
  padding: 0.16rem;
  background-color: aliceblue;
  border-radius: 0.2rem;
}

#imgInp {
   width: 15rem;
}