#container {
    height: 600px;
    width: 60%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    /* flex-direction: row; by default */
    /* flex-direction: row-reverse; */
    /* flex-direction: column;  */
    /* flex-direction: column-reverse; */
    justify-content:  flex-start;
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: wrap; */
    /* align-items: flex-end; */
    /* align-content: space-around; */
    align-content: flex-start;

}



h1 {
    text-align: center;
}

#container div {
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 20px;
}

#org {
    /* align-self: flex-end; */
    /* flex-basis: 200px; */
    /* flex-grow: 1; */
    /* min-width: 150px; */
    /* max-width: 200px; */
    flex-shrink: 3;
}

#blue {
    /* flex-grow: 2; */
    flex-shrink: 2;
}